/* body{
    margin: 100px;
} */

nav{
    background-color: darkblue;
    width: 70px;
    display: block;
}

textarea{
    width: 300px;
}

textarea, nav {
    border: solid 1px darkblue;
}



.logout-link{
    text-decoration: none;
    color: white;
    font-size: 20px;
}